.logo {
    margin-top: 8%;
    margin-left: 20%;
}

.logo_2{
    margin-top: 1%;
    margin-left: 18%;
}

.logo_3{
    margin-left: 5%;
}

.logo_4{
    margin-top: 1%;
    margin-left: 5%;
}

.logo_5{
    margin-top: 2%;
    margin-left: 2%;
}

.logo_6{
    position: absolute;
    margin-top: 7%;
    margin-left: 8%;
}