.img_1 {
    position: absolute;
    margin-top: 8.8%;

}

.logo {
    position: absolute;
    margin-top: 12%;
    margin-left: 15%;
}

.box_for_news {
    position: absolute;
    height: 490px;
    width: 70%;
    margin-left: 15%;
    margin-top: 25%;
    margin-bottom: 5%;
    border-radius: 8px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box_for_img {
    width: 280px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
}

.circle {
    margin-top: 50%;
    width: 50px;
    margin-left: 48%;
}