.logo {
    position: absolute;
    margin-top: 8.8%;
}

.field_1 {
    position: absolute;
    margin-left: 33% !important;
    margin-top: 30% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_2{
    position: absolute;
    margin-left: 50% !important;
    margin-top: 30% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_3{
    position: absolute;
    margin-left: 33% !important;
    margin-top: 35% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_4{
    position: absolute;
    margin-left: 33% !important;
    margin-top: 40% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_5{
    position: absolute;
    margin-left: 50% !important;
    margin-top: 40% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_6{
    position: absolute;
    margin-left: 33% !important;
    margin-top: 45% !important;
    width: 7.5%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_7{
    position: absolute;
    margin-left: 50% !important;
    margin-top: 45% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_8{
    position: absolute;
    margin-left: 41.5% !important;
    margin-top: 45% !important;
    width: 7.5%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.field_9{
    position: absolute;
    margin-left: 50% !important;
    margin-top: 35% !important;
    width: 15%;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.logo_2 {
    position: absolute;
    margin-top: 51%;
    margin-left: -24%;
}

.button {
    position: absolute;
    width: 180px;
    border-radius: 43px !important;
    margin-top: 50.5% !important;
    margin-left: 47% !important;
    height: 50px !important;
}

.autocomplete_1 {
    position: absolute !important;
    margin-left: 50% !important;
    margin-top: 45% !important;
    width: 17% !important;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}

.autocomplete_2 {
    position: absolute !important;
    margin-left: 50% !important;
    margin-top: 40% !important;
    width: 17% !important;
    border-radius: 43px !important;
    background-color: #F9F9F9 !important;
    size: "medium" !important;
    height: 50px !important;
    border: none;
    box-shadow: inset 1px 1px 10px  gray;
    text-align: center;
}